.PostContainer {
	margin: 0 auto;
	width: 100%;
	border: #000 0px solid;
}

.PostTitle {
	
}

.PostPoster {
	font-weight: bold;
}

.PostDate {

}

.PostBody {
	padding-left: 20px;
}

h2 {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#Pages {
	width: 100%;
	text-align: center;
	padding-top: 10px;
}

.Edited {
	font-style: italic;
	font-size: 8pt;
}